body {
  margin: 0;
  background-color: #ccc;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
code {
  width: 900px;
  white-space: pre-wrap;
  background-color: #f7f7f7;
}
pre {
  background-color: #f7f7f7;
  padding: 0 15px;
}
